<div class="sidebar-wrapper">
  <!--
                      <div class="user">

                          <div class="photo">
                              <img src="assets/img/profile.jpg">
                          </div>

                          <div class="info">
                              <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                  <span>
                                      Hizrian
                                      <span class="user-level">Administrator</span>
                                      <span class="caret"></span>
                                  </span>
                              </a>
                              <div class="clearfix"></div>

                              <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                                  <ul class="nav">
                                      <li>
                                          <a href="#profile">
                                              <span class="link-collapse">My Profile</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#edit">
                                              <span class="link-collapse">Edit Profile</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#settings">
                                              <span class="link-collapse">Settings</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
  -->
  <ul class="nav">


    <span class="fpct">FPCT SAKANE</span>
    <hr class="ligne-de-fond"/>
    <!--<div class="ligne-de-fond"></div>-->


    <BR>

    <li class="nav-item active">
      <a routerLink="/snapshot">
        <i class="la la-camera"></i>
        <p>SNAPSHOT</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/performance">
        <i class="la la-bar-chart"></i>
        <p>PERFORMANCE DE L'ACTIF</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/historique">
        <i class="la la-history"></i>
        <p>HISTORIQUE DU PASSIF</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/pricing">
        <i class="la la-dollar"></i>
        <p>PRICING</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/rapport">
        <i class="la la-copy"></i>
        <p>RAPPORTS</p>
      </a>
    </li>
<!--
    <li class="nav-item">
      <a routerLink="/login">
        <i class="la la-user"></i>
        <p>LOGIN</p>
      </a>
    </li>-->

  </ul>

</div>
