
<div class="divAuthent">
<div class="tile">
  <div class="tile-header">
    <h2 style="color: white; opacity: .75; font-size: 4rem; display: flex; justify-content: center; align-items: center; height: 100%;">SIGN IN</h2>
  </div>

  <div class="tile-body">
    <div class="alert-danger" *ngIf="mode ==1"><strong>Mauvaises qualifications !!</strong></div>
    <p></p>
    <p></p>
    <form id="form" #f="ngForm" (ngSubmit) ="onLogin(f.value)">
      <label class="form-input">
        <i class="material-icons">person</i>
        <input type="text" autofocus="true" ngModel=""  name="loginUser" id="loginUser" required />
        <span class="label">Login</span>
        <span class="underline"></span>
      </label>

      <label class="form-input">
        <i class="material-icons">lock</i>
        <input type="password" name="pwdUser" id="pwdUser" required ngModel="" />
        <span class="label">Mot de passe</span>
        <div class="underline"></div>
      </label>

      <div class="submit-container clearfix" style="margin-top: 2rem;">
<!--        <div id="submit" role="button" type="button" class="btn btn-irenic float-right" tabindex="0">
          <span>Connexion</span>
        </div>-->

        <button class="btn btn-irenic float-right" type="submit" tabindex="0">
          Connexion
        </button>

        <div class="login-pending">
          <div class=spinner>
            <span class="dot1"></span>
            <span class="dot2"></span>
          </div>

          <div class="login-granted-content">
            <i class="material-icons">done</i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

