<<div class="container-fluid">

  <span class="fpct2">Snapshot</span>


  <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

    <!-- La partie accueil-->
    <li class="nav-item">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="la la-home"></i> Accueil
      </a>
    </li>

    <!-- La partie notifications-->

    <li class="nav-item dropdown hidden-caret">

      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="la la-bell"></i>  5 Notifications
      </a>

      <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">

        <li>
          <div class="dropdown-title">Vous avez 5 notifications </div>
        </li>

        <li>
          <div class="notif-center">
            <a href="#">
              <div class="notif-icon notif-primary"> <i class="la la-user-plus"></i> </div>
              <div class="notif-content">
                                                        <span class="block">
                                                            Nouvel utilisateur est enregistré
                                                        </span>
                <span class="time">Il y a 5 minutes</span>
              </div>
            </a>


            <a href="#">
              <div class="notif-icon notif-success"> <i class="la la-comment"></i> </div>
              <div class="notif-content">
                                                        <span class="block">
                                                            Med a commenté sur Admin
                                                        </span>
                <span class="time">Il y a 15 minutes</span>
              </div>
            </a>

            <a href="#">
              <div class="notif-img">
                <img src="assets/img/profile2.jpg" alt="Img Profile">
              </div>
              <div class="notif-content">
                                                        <span class="block">
                                                            Reda vous envoie des messages
                                                        </span>
                <span class="time">Il y a 12 minutes</span>
              </div>
            </a>

            <a href="#">
              <div class="notif-icon notif-danger"> <i class="la la-heart"></i> </div>
              <div class="notif-content">
                                                        <span class="block">
                                                            Farrah  a aimé le site
                                                        </span>
                <span class="time">Il y a 17 minutes</span>
              </div>
            </a>

            <a href="#">
              <div class="notif-icon notif-danger"> <i class="la la-question"></i> </div>
              <div class="notif-content">
                                                        <span class="block">
                                                            Karim a demandé le fond SAKANE
                                                        </span>
                <span class="time">Il y a 35 minutes</span>
              </div>
            </a>

          </div>
        </li>

        <li>
          <a class="see-all" href="javascript:void(0);"> <strong>Voir toutes les notifications</strong> <i class="la la-angle-right"></i> </a>
        </li>

      </ul>
    </li>

    <!-- La partie réglages-->


    <li class="nav-item">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="la la-cog"></i>  Settings
      </a>
    </li>

  </ul>

</div>

