<div class="top-menubar">

  <div class="topmenu">

    <div class="row" style="width: 99%;">

      <div class="col-md-3">
        <div class="row controler-class">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <a class="logoMT" target="_self" href="http://localhost:4200">
              <img src="../../assets/img/old_logo.png" alt="logo">
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-9">

        <div class="row desc-row-9">

          <div class="col-md-5 top-data-col-5">

            <div class="row">

              <div class="col-md-5 champ1" style="color: #127dc1;">
                <span style="font-size: 25px;">1'030.00DH</span><br><span style="padding-top: -100px;">26.08.2018 - 12:44</span>
              </div>

              <div class="col-md-7 champ2" style="padding-left: -200px;">
                <button class="btn pourcentage" style="color: white ; ">1.90%</button>
              </div>

            </div>
          </div>


          <div class="col-md-7 newletterAndOther">
            <ul class="top-data">
              <li><a href="#" target="_empty"><i class="fa fa-file-o"></i> Actualités</a></li>
              <li><a href="#" target="_empty"><i class="fa fa-envelope-o"></i> Newsletter </a></li>
              <li><a href="#" target="_empty"><i class="fa fa-phone"></i> Contact</a></li>
              <li><a href="#" target="_empty"><i class="fa fa-user-o"></i> Mon compte</a></li>
              <li><a href="#" target="_empty"> FR <i class="la la-angle-down"></i></a></li>
            </ul>
          </div>

        </div>

        <div class="row">

          <div class="col-md-12 lestitres">

            <nav class="navbar navbar-expand-lg" id="mainNav" data-toggle="affix">

              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse aligner-menu d-flex justify-content-between" id="navbarResponsive">

                <ul class="navbar-nav" style="padding-left: -100px; ">

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >MAGHREB TITRISATION</a>
                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="about.html">Qui sommes-nous ?</a>
                      <a class="dropdown-item" href="careers.html">Notre Gouvernance</a>
                      <a class="dropdown-item" href="team.html">Nos Chiffres clés</a>
                      <a class="dropdown-item" href="faq.html">Nos réalisations</a>
                      <a class="dropdown-item" href="faq.html">Projets en cours</a>
                      <a class="dropdown-item" href="faq.html"> Projets réalisés</a>

                    </div>
                  </li>


                  <li class="nav-item titlesOfnav dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MÉTIERS ET SERVICES</a>
                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink1">
                      <a class="dropdown-item" href="#">Origination et Structuration</a>
                      <a class="dropdown-item" href="#">Gestion des Fonds</a>
                      <a class="dropdown-item" href="#">Assistance informatique</a>

                    </div>
                  </li>


                  <li class="nav-item titlesOfnav  dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FOND GÉRÉS</a>

                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink2">
                      <h6 class="dropdown-header">RMBS</h6>
                      <h6 class="dropdown-header">CRÉANCES COMMERCIALES</h6>
                      <h6 class="dropdown-header">ACTIFS IMMOBILIERS</h6>
                      <a class="dropdown-item" style="padding-left: 50px;"  target="_self" href="http://localhost:4200/snapshot">SAKANE</a>

                      <h6 class="dropdown-header">CRÉDITS À LA CONSOMMATION</h6>
                      <h6 class="dropdown-header">SUKUK</h6>
                    </div>
                  </li>


                  <li class="nav-item titlesOfnav dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ESPACE PRESSE</a>
                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink3">
                      <a class="dropdown-item" href="news-list.html">Revues de presse</a>
                      <a class="dropdown-item" href="news-grid.html">Communiqués financiers</a>
                    </div>
                  </li>


                  <li class="nav-item titlesOfnav dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MÉDIATIQUE</a>
                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink4">
                      <a class="dropdown-item" href="news-list.html">Photothèque</a>
                      <a class="dropdown-item" href="news-grid.html">Vidéothèque</a>
                      <a class="dropdown-item" href="news-grid.html">Vidéo Live</a>

                    </div>
                  </li>

                  <li class="nav-item titlesOfnav dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CARRIÈRE</a>
                    <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink5">
                      <a class="dropdown-item" href="news-list.html"> Offres d'emploi</a>
                      <a class="dropdown-item" href="news-grid.html">Candidature spontannée</a>
                    </div>


                  </li>

                </ul>

              </div>

            </nav>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
