
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../../assets/design-home-page/img/old_logo.png">

  <title>Maghreb Titrisation</title>

  <!-- Global Stylesheets -->
  <!--<link href="../../accueil/css/bootstrap/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="../../assets/design-home-page/css/bootstrap/ready.css">
  <link rel="stylesheet" href="../../assets/design-home-page/css/demo.css">
  <link rel="stylesheet" href="../../assets/design-home-page/css/style.css">
  <link rel="stylesheet" href="../../assets/design-home-page/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

  <link rel="stylesheet" href="../../assets/design-home-page/css/animate/animate.min.css">
  <link rel="stylesheet" href="../../assets/design-home-page/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="../../assets/design-home-page/css/owl-carousel/owl.theme.default.min.css">

</head>

<body>

<!--====================================================
                         HEADER
======================================================-->
<!-- Ceci représente le head de la page -->
<header class="fixed-top chadaww">

  <div class="top-menubar">
    <div class="topmenu">

      <div class="row" style="width: 99%;">

        <div class="col-md-3">
          <div class="row controler-class">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <a class="logoMT" href="#">
                <img src="../../assets/design-home-page/img/old_logo.png" alt="logo">
              </a>
            </div>
          </div>

        </div>

        <div class="col-md-9">

          <div class="row desc-row-9">

            <div class="col-md-5 top-data-col-5">

              <div class="row">

                <div class="col-md-5 champ1" style="color: #127dc1;">
                  <span style="font-size: 25px;">1'030.00DH</span><br><span style="padding-top: -100px;">26.08.2018 - 12:44</span>
                </div>

                <div class="col-md-7 champ2" style="padding-left: -200px;">
                  <button class="btn pourcentage" style="color: white ; ">1.90%</button>
                </div>

              </div>
            </div>


            <div class="col-md-7 newletterAndOther">
              <ul class="top-data">
                <li><a href="#" target="_empty"><i class="fa fa-file-o"></i> Actualités</a></li>
                <li><a href="#" target="_empty"><i class="fa fa-envelope-o"></i> Newsletter </a></li>
                <li><a href="#" target="_empty"><i class="fa fa-phone"></i> Contact</a></li>
                <li><a href="#" target="_empty"><i class="fa fa-user-o"></i> Mon compte</a></li>
                <li><a href="#" target="_empty"> FR <i class="fa fa-angle-down"></i></a></li>
              </ul>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12 lestitres">

              <nav class="navbar navbar-expand-lg" id="mainNav" data-toggle="affix">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse aligner-menu d-flex justify-content-between" id="navbarResponsive">

                  <ul class="navbar-nav" style="padding-left: -100px; ">

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >MAGHREB TITRISATION</a>
                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Qui sommes-nous ?</a>
                        <a class="dropdown-item" href="#">Notre Gouvernance</a>
                        <a class="dropdown-item" href="#">Nos Chiffres clés</a>
                        <a class="dropdown-item" href="#">Nos réalisations</a>
                        <a class="dropdown-item" href="#">Projets en cours</a>
                        <a class="dropdown-item" href="#"> Projets réalisés</a>

                      </div>
                    </li>


                    <li class="nav-item titlesOfnav dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MÉTIERS ET SERVICES</a>
                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="#">Origination et Structuration</a>
                        <a class="dropdown-item" href="#">Gestion des Fonds</a>
                        <a class="dropdown-item" href="#">Assistance informatique</a>

                      </div>
                    </li>


                    <li class="nav-item titlesOfnav  dropdown" >
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FOND GÉRÉS</a>

                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink2">

                        <h6 class="dropdown-header">RMBS</h6>
                        <h6 class="dropdown-header">CRÉANCES COMMERCIALES</h6>
                        <h6 class="dropdown-header">ACTIFS IMMOBILIERS</h6>
                        <a class="dropdown-item" style="padding-left: 50px;"  target="_self" href="http://localhost:4200/snapshot">SAKANE</a>

                        <h6 class="dropdown-header">CRÉDITS À LA CONSOMMATION</h6>
                        <h6 class="dropdown-header">SUKUK</h6>

                      </div>
                    </li>


                    <li class="nav-item titlesOfnav dropdown" >
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ESPACE PRESSE</a>
                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item" href="#">Revues de presse</a>
                        <a class="dropdown-item" href="#">Communiqués financiers</a>
                      </div>
                    </li>


                    <li class="nav-item titlesOfnav dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MÉDIATIQUE</a>
                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink4">
                        <a class="dropdown-item" href="#">Photothèque</a>
                        <a class="dropdown-item" href="#">Vidéothèque</a>
                        <a class="dropdown-item" href="#">Vidéo Live</a>

                      </div>
                    </li>

                    <li class="nav-item titlesOfnav dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CARRIÈRE</a>
                      <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink5">
                        <a class="dropdown-item" href="#"> Offres d'emploi</a>
                        <a class="dropdown-item" href="#">Candidature spontannée</a>
                      </div>


                    </li>

                  </ul>

                </div>

              </nav>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</header>


<!--====================================================
                         HOME
======================================================-->

<br> <br>
<section id="home">

  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../../assets/design-home-page/img/img/banner2.png" style="width:100%; height: 620px" alt="First slide">
      </div>

      <div class="carousel-item">
        <img src="../../assets/design-home-page/img/img/banner-2.jpg" style="width:100%; height: 620px" alt="Second slide">
        <div class="carousel-caption">
          <h1>2ème Slide</h1>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../assets/design-home-page/img/img/banner-4.jpg" style="width:100%; height: 620px" alt="Third slide">
        <div class="carousel-caption">
          <h1>3ème Slide</h1>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

</section>

<!--====================================================
                        Evénements
======================================================-->

<section id="about" class="about">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-4 bg-starship">
        <div class="about-content-box1 wow fadeInUp" data-wow-delay="0.2s">
          <h2 style="font-size: 36px;">Evénement</h2>
          <button class="btn pourcentage2" style="color: white ; ">LIVE  <i class="fa fa-caret-right" style="font-size: 25px ; height: 20px ; width: 30px ;"></i> </button>
        </div>
      </div>

      <div class="col-md-8 bg-chathams">

        <div class="about-content-box2 wow fadeInUp" data-wow-delay="0.5s">

          <div class="row">

            <div class="col-md-6 enjeux">
              <h4><span style="font-weight: bold ;">Titrisation</span>, enjeux et perspectives </h4>
              <h5 style="padding-top: -50px ; font-weight: 100 ;">L'expertise des leaders</h5>
            </div>

            <div class="col-md-1 virticaleLine"></div>

            <div class="col-md-5  decouvrir">
              <h6>DÉCOUVRIR L'ÉVENEMENT EN VIDÉO <img src="../../assets/design-home-page/img/Calque-14.png" width="100px" height="80px" ></h6>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</section>


<!--====================================================
                        PARTIE FONDS
======================================================-->
<section id="comp-offer" style="background-image: url(../../assets/design-home-page/img/homeb.png); ">
  <div class="container-fluid">

    <h1 align="center" style="color : white ;font-size: 60px; font-family: 'Roboto+Thin', sans-serif">Nos fonds</h1>
    <div class="ligne-de-fond44"></div>

    <div class="row justify-content-around fondsFpct">

      <div class="col-md-2 fondColors wow fadeInUp">
        <img  src="../../assets/design-home-page/img/img-fonds/rmbs.png" class="imgFonds">
        <h4 class="alignFond changer-size">RMBS</h4>
        <p class="alignFond" style="text-align: justify">Description associée à ce fond dit RMBS
          quand on accéde on peut gérer sa performance
          son historique </p>

        <a href="http://localhost:4200/snapshot"><img style="margin-top: 4px" src="../../assets/design-home-page/img/img/icons/plus-symbol.png" /></a>

      </div>


      <div class="col-md-2 fondColors wow fadeInUp" data-wow-delay="0.1s">
        <img  src="../../assets/design-home-page/img/img-fonds/creance-commercial.png" class="imgFonds">
        <h4 class="alignFond changer-size">CRÉANCES COMMERCIALES</h4>
        <p class="alignFond" style="text-align: justify">Description associée à ce fond dit CRÉANCES COMMERCIALES
          quand  on accéde on peut
        </p>


        <img style="margin-top:2px" src="../../assets/design-home-page/img/img/icons/plus-symbol.png" />
      </div>


      <div class="col-md-2 fondColors wow fadeInUp" data-wow-delay="0.2s">
        <img  src="../../assets/design-home-page/img/img-fonds/actif-immobilier.png" class="imgFonds">
        <h4 class="alignFond changer-size">ACTIFS IMMOBILIERS</h4>
        <p class="alignFond" style="text-align: justify">Description associée à ce fond dit ACTIFS IMMOBILIERS
          quand on accéde on peut
        </p>


        <img style="margin-top: 25px"  src="../../assets/design-home-page/img/img/icons/plus-symbol.png" />
      </div>


      <div class="col-md-2 fondColors wow fadeInUp " data-wow-delay="0.3s">
        <img  src="../../assets/design-home-page/img/img-fonds/creadit-consommation.png" class="imgFonds">
        <h4 class="alignFond changer-size">CRÉDITS À LA CONSOMMATION</h4>
        <p class="alignFond" style="text-align: justify">Description associée à ce fond dit CRÉDITS À LA CONSOMMATION
          quand on accéde on peut
        </p>


        <img style="margin-top: 4px" src="../../assets/design-home-page/img/img/icons/plus-symbol.png" />
      </div>



      <div class="col-md-2 fondColors wow fadeInUp" data-wow-delay="0.3s">
        <img  src="../../assets/design-home-page/img/img-fonds/sukuk.png" class="imgFonds2">
        <h4 class="alignFond changer-size">SUKUK</h4>
        <p class="alignFond" style="text-align: justify">Description associée à ce fond
          quand on accéde on peut gérer sa performance
          son historique, pricing, </p>


        <img style="margin-top: 15px" src="../../assets/design-home-page/img/img/icons/plus-symbol.png" />
      </div>



    </div>

    <button class="btn btnFond btn-style">TOUS NOS FONDS</button>

  </div>
</section>

<!--====================================================
                    A PROPOS
======================================================-->
<section class="what-we-do wow fadeIn" id="apropos" style="background-image: url(../../assets/design-home-page/img/a-propos.png);">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">

      </div>

      <div class="col-md-3 Apropos">
        <h3>À PROPOS DE NOUS</h3>
        <div class="heading-border-light"></div>
        <p class="alignFond"> Premier établissement gestionnaire des fonds de placement collectif de Titrisation
          (FPCT)
          agrée depuis 2001 par le ministère des finances et l'A.M.M.C Maghreb Titrisation bénéficie d'un
          actionnariat diversifié de premier plan : 58% du capital est détenu directement et indirectement par
          le grue C.D.G
        </p>

          <button class="btn btnFond btn-en-savoir-style">EN SAVOIR PLUS</button>


      </div>

      <div class="col-md-1 chiffresCli">
                <span class="block1">
                    <mark class="LesChiffresStat" data-toggle="counter-up">23</mark>   <br>
                    <mark class="markerTexte">Consultants</mark> <br>
                </span>
        <hr class="ligneStat">
        <span class="block2">
                    <mark class="LesChiffresStat" data-toggle="counter-up">546</mark>   <br>
                    <mark class="markerTexte">Clients</mark> <br>
                </span>
        <hr class="ligneStat">
        <span class="block3">
                    <mark class="LesChiffresStat" data-toggle="counter-up">17</mark>   <br>
                    <mark class="markerTexte">Années d'expériences</mark> <br>
                </span>
      </div>

    </div>
  </div>
</section>



<!--====================================================
                  ACTUALITÉS ET PROJETS
======================================================-->
<!--<div class="overlay-thought"></div>-->
<section class=" thought-bg" id="actualites">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 prop-left">
        <h1>Actualités</h1>
        <div class="heading-border-light-actu"></div>
        <div class="row infos-actu">
          <div class="col-md-6">
            <span class="date-actu">31/10/2017</span> <br>
            <p style="padding-top: 10px">Titrisation, atouts et avantages :
              L'ONEE, un cas d'école ?
            </p>

            LIRE LA SUITE  <i class="fa fa-angle-right"></i>
          </div>

          <div class="col-md-1 virticaleLine"></div>

          <div class="col-md-5">
            <span>31/10/2017</span> <br>
            <p style="padding-top: 10px">Titrisation, l'activité prend
              son envol
            </p>

            LIRE LA SUITE  <i class="fa fa-angle-right"></i>
          </div>
        </div>

      </div>

      <div class="col-md-6 prop-right">
        <h1 style="color: #127dc1;">Nouveaux projets</h1>
        <div class="heading-border-light"></div>
        <div class="row infos-actu">
          <div class="col-md-5">
            <span>03/10/2017</span><br>
            <p style="padding-top: 10px">Nouvelle Opération à 1.5MMDH
              pour le compte de l'ONEE

            </p>

            <span>LIRE LA SUITE  <i class="fa fa-angle-right"></i></span>
          </div>

          <div class="col-md-1 virticaleLine2"></div>

          <div class="col-md-6">
            <span>03/04/2017</span> <br>
            <p style="padding-top: 10px">Le crédit agricole de Maroc lance une opération
              de Titrisaion gérée par Maghreb Titrisation portant sur 584.7
              millions de DH</p>

            <span>LIRE LA SUITE  <i class="fa fa-angle-right"></i></span>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>


<footer>
  <div class="footer-s1">

    <div class="footer">

      <div class="container-fluid">
        <div class="row" style="text-align: center ; color: white; ">
          <div class="col-md-12" style="text-align: center ;">
            <h1 style="color: #127dc1">Newsletter</h1>
            <div class="heading-border-light"></div>
            <div class="form-group form-inline header-marging">

              <label for="pillInput">Restez informé, Inscrivez-vous à notre lettre d'information </label>
              <input type="text" class="form-control input-pill form-pied" id="pillInput" placeholder="Votre email" size="40px">
              <button class="btn btn-round prop-btn-header">OK</button>

            </div>


            <hr class="prop-line-header">

            <nav class="navbar navbar-expand-sm marging-nav-pied">

              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white ; font-weight: bold ; ">MAGHREB TITRISATION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white ; font-weight: bold ; ">MÉTIERS ET SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white ; font-weight: bold ; ">FONDS GÉRÉS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white ; font-weight: bold ; ">ESPACE PRESS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: white ; font-weight: bold ; ">MÉDIATITHÈQUE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#apropos" style="color: white ; font-weight: bold ; ">CARRIÈRE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #1787ce ; font-weight: bold ; ">CONTACTER NOUS</a>
                </li>
              </ul>

            </nav>  <br>


            <img src="../../assets/design-home-page/img/logo-pied.png"/>  <br>

            <nav class="navbar navbar-expand-sm marging-nav-pied2">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #656565">Plan de site</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #656565">Crédits </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #656565">Mentions légales</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #656565">Réalisation : Lnet communication</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#home" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
    <i class="fa fa-angle-up"></i>
  </a>

</footer>

</body>

</html>

<!--Global JavaScript -->
<script src="../../assets/design-home-page/js/jquery/jquery.min.js"></script>
<script src="../../assets/design-home-page/js/popper/popper.min.js"></script>
<script src="../../assets/design-home-page/js/bootstrap/bootstrap.min.js"></script>
<script src="../../assets/design-home-page/js/wow/wow.min.js"></script>
<script src="../../assets/design-home-page/js/owl-carousel/owl.carousel.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../assets/design-home-page/js/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/design-home-page/js/custom.js"></script>
<script src="../../assets/design-home-page/js/counterup/counterup.min.js"></script>
